{% extends "_base.html" %}
{% from "_macros.html" import do_flashes %}
{% block style %}
  <link href="{{ url_for('static', filename='login.css') }}" rel="stylesheet" type="text/css">
{% endblock style %}

{% block content %}

    <div class="head">
        <a href="{{ url_for('index') }}">Home</a><br>
        <a href="{{ url_for('signup') }}">Sign Up</a>
    </div>
    <div class = "login">
    <h1>Login</h1>

    {{ do_flashes() }}
      <form method="post">
          <label for="username">Username:</label>
          <input id="username" name="username" type="text"><br><br>

          <label for="password">Password:</label>
          <input id="password" name="password" type="password"><br><br>

          <input type="submit" value="Log In!"> <br><br>
      </form>
    </div>

{% endblock content %}
